@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css";

/*
  FontAwesome - The best icon font ever :)
  https://fortawesome.github.io/Font-Awesome/

  Thanks to Dave Gandy and all involved in FontAwesome !!!
*/

[class^="icon"],[class*=" icon"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;}
.iconUser:before{content:"\f007";margin-right:6px;}
.iconAdd{
  color:gray;
  cursor:pointer;
  float:right;
  font-size:28px;
  margin-top:6px;
}
.iconRemove{
  cursor:pointer;
  color:gray;
}

.patternwall{
   color:#e6e6e6;
  text-decoration:none;
  position: absolute;bottom: 20px;right: 20px;}
body{
  font: 14px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#f5cf71;}
.clear{clear:both;}
.permissionWrapper{
  width:600px;
  margin:50px auto;
}
.listFilterLabel{
  color:gray;
}
.listFilterInput{
  margin:0 0 20px 10px;
  height:28px;
  line-height:28px;
  color:gray;
  padding: 0 10px;
  background-color:darken(gray, 32%);
  border:solid 1px darken(gray, 30%);
}
.permissionsTable{
  width:100%;
  color:darken(gray, 15%);
}
  
  
.permissionTag{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor:pointer;
  text-align:center;
  font-size:12px;
  
}
